/* CSS Reset */
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border:0;
	width:100%;
}
body {
	margin: 0;
	padding: 0;
	border:0;
	width:100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a.button {
    -webkit-appearance: button;
		height: 20px;
		margin: 5px 0 0 5px;
    text-decoration: none;
    color: initial;
}
/* Core UI Styles */

button {
	height: 20px;
	margin: 5px 0 0 5px;
}
#toolbar {
  height: 30px;
  background: WhiteSmoke;
  border-bottom: 1px solid gray;
}
#entitySelect {
	margin-left: 12em;
}
#status-bar {
	height: 20px;
	width: 100%;
	padding-left: 10px;
	background: WhiteSmoke;
  border-bottom: 1px solid gray;
}
#outer {
  display: flex;
  align-items: stretch;
  height: 100%;
}
#drag-bar {
  position: absolute;
  flex-basis: auto;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: gray;
  cursor: col-resize;
}
#left-pane {
 position: relative;
 width: 11px;
}
#dev-log {
	width: 100%;
	height:500px;
}
#right-pane {
  flex-grow: 1;
  background: white;
	height: 95vh;
	overflow: scroll;
}
#grid-cntnr {
}
#editor {
	height: 100%;
	width: 100%;
	padding-bottom: 3em;
}
#sel-req-pane {
	background-color: #0F0B54;
	font-size: 2em;
	padding: 2em 10em 4em 12em;
	color: white;
	height: 100%;
	text-align: center;
}
#sel-req-pane>button {
	border-radius: .5em;
	font-size: 1em;
	height: 2em;
	padding: .35em .6em .4em .5em;
	margin: 0;
}
div#outer div.CodeMirror {
	height: 95%;
	font-size: 2em;
	font-family: input;
}
