/* CSS Reset */
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border:0;
	width:100%;
}
body {
	margin: 0;
	padding: 0;
	border:0;
	width:100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a.button {
    -webkit-appearance: button;
		height: 20px;
		margin: 5px 0 0 5px;
    text-decoration: none;
    color: initial;
}
button {
	text-align: center;
	height: 20px;
	margin: 5px 0 0 5px;
}
.hidden {	/* Removed from DOM flow */
	display: none;
}
/* Animation Styles */
@keyframes fadeIn {
  to { opacity: 1; }
}
@keyframes fadeOut {
  to { opacity: 0; }
}
.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}
.fade-out {
  opacity: 1;
  animation: fadeOut .3s ease-out 1 forwards;
}
/* Core UI Styles */
.toolbar {
  height: 30px;
  background: WhiteSmoke;
  border-bottom: 1px solid gray;
}
#outer {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
}
#drag-bar {
  position: absolute;
  flex-basis: auto;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: gray;
  cursor: col-resize;
}
#left-pane {
 position: relative;
 width: 11px;
}
#dev-log {
	width: 100%;
	height:500px;
}
#right-pane {
	flex-grow: 1;
	background: white;
	height: 95vh;
	overflow: hidden;
}
#editor {
	height: 90vh;
	width: 100%;
	padding-bottom: 3em;
}
#grid-cntnr {
	overflow: hidden;
  height: 95vh;
}
#entitySelect {
	margin-left: 12em;
}
progress {
    position: relative;
    left: 5px;
    margin: .5em;
    border: 0;
    height: 18px;
    width: 200px;
    border-radius: 9px;
  }
progress::-webkit-progress-bar {
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,.8)));
}
progress::-webkit-progress-value {
  background: -webkit-linear-gradient(top, #2D7853 -35%, #77cab8 100%);
  border-radius: 5px;
}
progress::-webkit-progress::after {
  content: '45';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white;
}
#status-bar {
	display: flex;
}
#progBar {
    height: 15px;
    min-width: 200px;
    background: rgb(255,197,120);
    background: -webkit-linear-gradient(top, #2D7853 -35%, #77cab8 100%);
    border-top: 1px solid #fceabb;
}
#status-msg {
	display: inline;
	flex-grow: 2;
  margin: .5em;
	color: #1b3b1b;
	font-weight: bold;
}
#overlay {
		display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}
#popUpDiv {
		display: none;
    position: absolute;
    background: #FFF;
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
    top: 50%;
    left: 50%;
    width: 500px;
    height: 250px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -100px; /*Half the value of height to center div*/
    z-index: 200;
    border-radius: 5px;
}
.popUpBtn {
		top: 216px;
	  display: flex;
	  flex-direction: row;
	  margin: 5px auto 3px auto;
	  height: 22px;
	  position: relative;
}
#popupclose {
		margin: auto;
    cursor: pointer;
	  font-weight: bold;
}
#popUpContnt {
	  position: absolute;
	  width: 100%;
    text-align: center;
    padding: 20px 10px 30px 10px;
    font-weight: bold;
    font-size: 14px;
}
/*
#progCntnr {
    width: 200px;
    height: 20px;
    border: 1px solid #888;
    background: WhiteSmoke;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,.8)));
    top: 6px;
    right: 5px;
}
#progVal {
	margin: auto;
	position: relative;
	width: 35px;
	color: #1b3b1b;
	font-weight: bold;
}*/