<html><!-- webview.html is the default view file loaded by app-win.html
            in a webview element that holds most of enso's UI  -->
  <head>
    <script src="../js/app-init.js"></script>
    <script src="../grid/ag-grid.js"></script>
    <script src="../js/file-sys.js"></script>
    <script src="../js/csv.js"></script>
    <script src="../js/ein-parse.js"></script>
    <script src="../js/toolbar.js"></script>
    <script src="../js/data-grid.js"></script>
    <script src="../js/main-win.js"></script>
    <link rel="stylesheet" type="text/css" href="../grid/theme-fresh.css">
    <link rel="stylesheet" type="text/css" href="../grid/ag-grid.css">
    <link rel="stylesheet" type="text/css" href="../css/main-win.css">


    <title>Eco-Interactions Editor alpha 0.0.1</title>
  </head>
  <body>
    <div class="toolbar" id="toolbar">
      <label>
      <button id="allFileSet">Parse File Set</button>
        <input type="checkbox" name="loadIfValid" id="loadIfValid" checked>
        Load only if valid
      </label>
      <select id="entitySelect">
        <option value="author">Authors</option>
        <option value="citation">Citations</option>
        <option value="interaction" selected>Interactions</option>
      </select>
      <button id="fileParse">Parse Entity File</button>
      <button id="openFile">Open File</button>
      <button id="openFolder">Open Folder</button>
      <button id="saveFile">Save File</button>
      <button id="fileSaveAs">Save File As</button>
      <button id="reload">Reload Editor</button>
      <!-- <button id="createFile">Create File</button>
      <button id="createFolder">Create Folder</button>
      <button id="setUpTests">Set up Test Env</button>
      <button id="runTests">Run Tests</button>
      <select id="dataSetSelect">
        <option value="authorSet">Authors</option>
        <option value="citationSet">Citations</option>
        <option value="interactionSet">Interactions</option>
      </select>
      <button id="csvSet">Parse DataSet</button>   -->
    </div>
    <div class="toolbar" id="status-bar">
      <progress id="progBar" class="hidden" max="100" value="0%"></progress>
      <div id="status-msg"></div>
    </div>
    <div id="outer">
        <div id="left-pane" class="col">
          <textarea id="dev-log"></textarea>

          <div id="drag-bar"></div>
        </div>
        <div id="right-pane" class="col">
          <div id="grid-cntnr" class="ag-fresh">
            <textarea id="editor" spellcheck="false"></textarea>
          </div>
        </div>
    </div>
    <div id="overlay"></div>
    <div id="popUpDiv">
        <div id="popUpContnt"></div>
        <div class="popUpBtn"><button id="popupclose">Ok</button></div>
    </div>
  </body>
</html>
